*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}
h1,h2{
    font-family: 700;
    font-family: 'Lato', sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.orange{
    color: #fc8f49;
}
.btn-info{
    background-image: linear-gradient(#fc8f49, #fd4b2f);
    padding: 12px 30px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1.2px;
    border-radius: 30px;
    border: none;
    box-shadow: 4px 3px 20px #000;
}

/* Global css end here */

/* Header sectio css code start here */
header{
    width: 100%;
    display: flex;
    padding: 20px 0px;
    background-color: #FC8C48;
}
header .icon{
    width: 50%;
    margin: 0px 0px 0px 60px;
}
header .icon img{
    width: 150px;
}
header .menu{
    width: 50%;
}
header .menu ul{
    padding: 30px 0px 0px;
    display: block;
    float: right;
    margin: 0px 60px 0px 0px;
}
header .menu ul li{
    display: inline-block;
    margin-left: 35px;
}
header .menu ul li a{
    font-size: 18px;
    font-weight: 700;
    color: #fff;
}
/* header section code end here */

/* banner-section code start here */
.banner-section{
    width: 100%;
    display: flex;
}
.banner-section .half-banner{
    width: 50%;
    padding: 60px;
}
.banner-section .half-banner h1{
    font-size: 80px;
    margin: 150px 0px 40px;
}
.banner-section .half-banner p{
    font-size: 18px;
    line-height: 28px;
    margin: 0px 0px 40px;
}
.banner-section .another-half-banner{
    width: 50%;
}
.banner-section .another-half-banner img{
    margin: 40px 0px 0px;
}
/* banner-section code end here */

/* About section code css start here */
.about-section{
    width: 100%;
    display: flex;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    margin: 50px  0px;
}
.about-section .another-half-banner{
    width: 50%;
}
.about-section .another-half-banner img{
    width: 50%;
    padding:  60px 60px 0px;
    margin-left: 50px;
}
.about-section .half-banner{
    width: 50%;
    padding: 80px;
}
.about-section .half-banner h2{
    font-size: 42px;
    margin: 100px 0px 40px;
}
.about-section .half-banner p{
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1.3px;
    margin: 0px 0px 40px;
}
/* About section code css end here */

/* recipies-section code start here */
.recipies-section{
    width: 100%;
    padding: 80px 0px;
}
.recipies-section .recipies-fist{
    width: 100%;
    text-align: center;
}
.recipies-section .recipies-fist h1{
    font-size: 42px;
    font-weight: 700;
    margin: 0px 0px 40px;
}
.recipies-section .recipies-fist p{
    width: 50%;
    margin: 0px auto 50px;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}
.recipies-inner{
    width: 100%;
    display: flex;
}
.recipies-inner .recipies-inner-fist{
    width: 25%;
    margin: 4%;
    padding: 30px;
    border-radius: 35px;
    box-shadow: 1px 7px 30px #8e8e8e;
}
.recipies-inner .recipies-inner-fist img{
    width: 100%;
}
.recipies-inner .recipies-inner-fist h3{
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0px;
}
.recipies-inner .recipies-inner-fist p{
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 1.2px;
    font-weight: 600;
}
.recipies-inner .recipies-inner-second{
    width: 25%;
    margin: 4%;
    padding: 30px;
    border-radius: 35px;
    box-shadow: 1px 7px 30px #8e8e8e;
}
.recipies-inner .recipies-inner-second img{
    width: 100%;
}
.recipies-inner .recipies-inner-second h3{
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0px;
}
.recipies-inner .recipies-inner-second p{
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 1.2px;
    font-weight: 600;
}

.recipies-inner .recipies-inner-third{
    width: 25%;
    margin: 4%;
    padding: 30px;
    border-radius: 35px;
    box-shadow: 1px 7px 30px #8e8e8e;
}
.recipies-inner .recipies-inner-third img{
    width: 100%;

}
.recipies-inner .recipies-inner-third h3{
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0px;
}
.recipies-inner .recipies-inner-third p{
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 1.2px;
    font-weight: 600;
}
/* recipies-section code end here */

/* counting-section code start here */
.counting-section{
    width: 100%;
    margin: 40px 0px 150px;
}
.counting-section .container{
    width: 85%;
    display: flex;
    margin: 0px auto 40px;
    padding: 3%;
    box-shadow: 1px 7px 30px #8e8e8e;
    border-radius: 30px;
}
.counting-section .container .inner-container{
    width: 25%;
    padding: 40px;
    text-align: center;
}
.counting-section .container .inner-container h3{
    font-size: 32px;
    font-weight: 700;
    margin: 0px 0px 30px;
}
.counting-section .container .inner-container p{
    font-size: 20px;
    font-weight: 600;
}
.border{
    border-right: 3px solid #000;
}
/* counting-section code end here */


/*  contactus-section css code start here */
.contactus-section{
    width: 100%;
    display: flex;
    padding: 80px 0px;
    margin: 40px 0px 0px;
    background-color: #FC8C48;
    /* background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center; */
}
.contactus-section .container{
    width: 40%;
    padding: 40px;
    margin: 0% 5%;
}
.contactus-section .container h2{
    font-size: 36px;
    margin: 0px 0px 40px;
    font-weight: 700;
}
.contactus-section .wrapper{
    width: 40%;
    margin: 0% 5%;
}
.contactus-section .wrapper h2{
    font-size: 36px;
    margin: 40px 0px 40px;
}
.contactus-section .wrapper form{
    border: 5px solid #fff;
    padding: 40px;
    border-radius: 30px;
}
.contactus-section .wrapper .input-dec{
    padding: 15px 40px;
    width: 80%;
    margin: 10px 0px;
    border-radius: 30px;
    border: none;
}
.contactus-section .wrapper .input-dec::placeholder{
    font-size: 16px;
    font-weight: 500;
    color: #000;
}
/*  contactus-section css code end here */

/* Footer section css code start here */
footer{
    width: 100%;
    padding: 80px 0px;
    background-color: #000;
}
footer .first-para{
    text-align: center;
    font-size: 24px;
    color: #fff;
    margin: 0px 0px 30px;
    letter-spacing: 1.5px;
}
footer .sec-para{
    text-align: center;
    font-size: 18px;
    color: #fff;
    letter-spacing: 1.2px;
}

/* footer section css code end here */
